<title><% provide(:title, 'Home Page') %></title>
<div class="center hero-unit">
	<h1>Welcome to the Third App</h1>
	<p>This is the home page for the <a href="www.railsin20minutes">Rails In 20's</a> third sample app</p>
	<%= link_to "Sign up now!", signup_path , class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>